---
const HEADERS = {
      headers: { Authorization: `Bearer ${import.meta.env.SNOWPACK_PUBLIC_API_KEY}` },
    }

// Purchase and Sale
const purchaseAndSellResponce =await fetch(`https://api.airtable.com/v0/${import.meta.env.SNOWPACK_PUBLIC_BASE_ID}/PurchaseAndSell?&view=Grid%20view`,
      HEADERS)
const purchaseAndSell = await purchaseAndSellResponce.json()

// Weapon Cleaning
const weaponCleaningResponce =await fetch(`https://api.airtable.com/v0/${import.meta.env.SNOWPACK_PUBLIC_BASE_ID}/WeaponCleaning?&view=Grid%20view`,
      HEADERS)
const weaponCleaning = await weaponCleaningResponce.json()


import PriceCard from './PriceCard.astro'
---

<section class="py-20 px-4 bg-white" id="FirearmServices">
  <div class="text-center mx-auto max-w-3xl space-y-5">
    <h2 class="font-oswald">Firearm Services</h2>
    <div class="">
      <div class="w-full">
        <h3 class="text-secondary font-oswald">Purchase & Selling</h3>
        <div class="price-container space-y-4">
          {purchaseAndSell.records.map(record => (
      <PriceCard info={record.fields.info} item={record.fields.item} price={record.fields.price}/>
    ))}
        </div>
      </div>
      <div class="w-full">
        <h3 class="text-secondary font-oswald mb-6 mt-10">Weapon cleaning</h3>
        <div class="price-container space-y-4">
          {weaponCleaning.records.map(record => (
      <PriceCard info={record.fields.info} item={record.fields.item} price={record.fields.price}/>
    ))}
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">


h2 {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  line-height: 1
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
}
</style>