---
const HEADERS = {
      headers: { Authorization: `Bearer ${process.env.SNOWPACK_PUBLIC_API_KEY}` },
    }

// Purchase and Sale
const purchaseAndSellResponce =await fetch(`https://api.airtable.com/v0/${process.env.SNOWPACK_PUBLIC_BASE_ID}/PurchaseAndSell?&view=Grid%20view`,
      HEADERS)
const purchaseAndSell = await purchaseAndSellResponce.json()

// Weapon Cleaning
const weaponCleaningResponce =await fetch(`https://api.airtable.com/v0/${process.env.SNOWPACK_PUBLIC_BASE_ID}/WeaponCleaning?&view=Grid%20view`,
      HEADERS)
const weaponCleaning = await weaponCleaningResponce.json()

import SectionHead from './SectionHead.astro'
import PriceCard from './PriceCard.astro'
import Subhead from './Subhead.astro'
---

<section class="py-20 px-4 bg-white" id="FirearmServices">
  <div class="text-center mx-auto max-w-3xl space-y-5">

  <div class="section-heading text-gradient-grey mb-10">
  Firearm Services
  </div>
    
    <div class="two-column">
      <div class="w-full">
      
        <Subhead>Purchase & Selling</Subhead>
        <div class="price-container mt-6">
          {purchaseAndSell.records.map(record => (
      <PriceCard info={record.fields.info} item={record.fields.item} price={record.fields.price}/>
    ))}
        </div>
      </div>
      <div class="w-full">
        <Subhead >Weapon cleaning</Subhead>
        <div class="price-container mt-6">
          {weaponCleaning.records.map(record => (
      <PriceCard info={record.fields.info} item={record.fields.item} price={record.fields.price}/>
    ))}
        </div>
      </div>
    </div>
  </div>
</section>
