---
const HEADERS = {
      headers: { Authorization: `Bearer ${process.env.SNOWPACK_PUBLIC_API_KEY}` },
    }

// Range Fee
const rangeFeeResponce =await fetch(`https://api.airtable.com/v0/${process.env.SNOWPACK_PUBLIC_BASE_ID}/RangeFees?&view=Grid%20view`,
      HEADERS)
const rangeFees = await rangeFeeResponce.json()

// Live Fire Training
const liveFireResponce =await fetch(`https://api.airtable.com/v0/${process.env.SNOWPACK_PUBLIC_BASE_ID}/LiveFireTraining?&view=Grid%20view`,
      HEADERS)
const liveFire = await liveFireResponce.json()

// In Home Training
const inHomeResponce = await fetch(`https://api.airtable.com/v0/${process.env.SNOWPACK_PUBLIC_BASE_ID}/InHomeTraining?&view=Grid%20view`,
      HEADERS)
const inHome = await inHomeResponce.json()

// In Home Add Ons Training
const addOnsResponce =await fetch(`https://api.airtable.com/v0/${process.env.SNOWPACK_PUBLIC_BASE_ID}/inHomeAddOns?&view=Grid%20view`,
      HEADERS)
const addons = await addOnsResponce.json()

import SectionHead from './SectionHead.astro'
import Subhead from './Subhead.astro'
import TrainingCard from './TrainingCard.astro'
import PriceCard from './PriceCard.astro'
---

<section class="training-section py-20" id="TrainingServices">
  <div class="container mx-auto text-center px-4">

    <div class="mb-10">
      <SectionHead>
      Training Services
      </SectionHead>
    </div>

    <div class="mb-10">
      <Subhead>
      Live Fire Training
      </Subhead>
    </div>

    <div class="two-column">
      {liveFire.records.map(record =>(
        <TrainingCard price={record.fields.price} time={record.fields.time}  description={record.fields.description} info={record.fields.info} />
      ))}
    </div>

    <div class="text-secondary-light tracking-wide uppercase text-2xl mb-4">Range Fees</div>

    <div class="price-container">
      {rangeFees.records.map(record => (
        <PriceCard info={record.fields.info} item={record.fields.item} price={record.fields.price}/>
      ))}
    </div>

    <div class="my-14">
        <a
          href="#Booking"
          class="
            w-full
            active:bg-accent
            bg-primary
            uppercase
            font-bold
            py-2
            px-3
            rounded-sm
            transition-all
            transform
            hover:bg-primary-light
            active:scale-75
          "
        >
          Book Now
        </a>
    </div>

<div class="">
    <Subhead>
      In-Home Training
    </Subhead>
</div>
    
    <div class="text-yellow-300 mb-8 tracking-wider">Firearm safety & training with unloaded firearms</div>

    <div class="mx-auto">
      {inHome.records.map(record =>(
      <TrainingCard price={record.fields.price} time={record.fields.time}  description={record.fields.description} info={record.fields.info} />
    ))}
    </div>

    <div class="price-container mt-10">
      {addons.records.map(record => (
      <PriceCard info={record.fields.info} item={record.fields.item} price={record.fields.price}/>
    ))}
    </div>

    <div class="mt-10">
        <a
          href="#Booking"
          class="
            w-full
            active:bg-accent
            bg-primary
            uppercase
            font-bold
            py-2
            px-3
            rounded-sm
            transition-all
            transform
            hover:bg-primary-light
            active:scale-75
          "
        >
          Book Now
        </a>
      </div>
  </div>
</section>

<script type='module'>

</script>

<style lang="scss">
.training-section {
  background: top no-repeat url('/assets/Training-BG.png') 	hsl(0, 0%, 13%);
  background-size: contain;
  font-family: 'Oswald', sans-serif;
}
</style>